Package: dialtime-web
Version: 0.1.25
Section: misc
Architecture: all
Depends: apache2 (>=2.2), debconf, libapache2-mpm-itk (>=2.2), php5 (>=5.5.9), php5-cli (>=5.5.9), php5-curl (>=5.5.9), php5-mysql (>=5.5.9)
Maintainer: Alexander Mosyagin <fixnim@gmail.com>
Origin: Alexander Mosyagin
Installed-size: XXXXX
Description: Dialtime Web
 Dialtime Web user interface for Target-Call
